@* 共通レイアウト *@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*
        bootstrapを適用/使用するためのリンク。
        ASP.NET MVCで生成されるHTMLは、bootstrapを使用することを想定した作りになっている。
        そのため、特別なことをしなくてもモダンなレイアウトに整形される。
    *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @* ログインしている状態で共通レイアウトを表示されたら、ログアウトボタンを表示する。 *@
    <div class="container">
        @if (Request.IsAuthenticated)  // Request.IsAuthenticatedプロパティ: 認証済みならtrueとなる。
        {
            <span>Hello, @User.Identity.Name</span>
            <span>|</span>

            // ログアウトのリンク(LoginControllerのSignOutアクションへのリンク)を作成。
            @Html.ActionLink("サインアウト", "SignOut", new { Controller = "Login" });

            // ログインユーザーがAdministrators Roleに所属している場合は、"サインアウト"リンクの右隣にユーザー管理画面へのリンクを表示する。
            if (User.IsInRole("Administrators"))  // User.IsInRoleメソッド: 現在のログインユーザーが指定されたロールに属しているかどうかを判定する。
            {
                <span>|</span>  // "サインアウト"リンクと"ユーザー管理"リンクの仕切り
                // ユーザー管理画面へのリンク(UsersControllerのIndexアクションへのリンク)を作成。
                @Html.ActionLink("ユーザー管理", "Index", new { Controller = "Users" });
            }
        }
    </div>

    @* <div> *@
    @*containerクラスを指定すると左右に適切な余白を設定してくれる *@
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
